body {
  background-color: rgba(88, 88, 88, 0.3);
}

.homeContainer {
  text-align: center;
}

.homeContainer header h1 {
  margin: 5rem 0;
  border-bottom: 2px solid rgb(78, 78, 78);
}

.homeContainer p {
  font-size: 2rem;
  padding: 2rem;
  line-height: 28px;
}
