* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mainPage-text h1 {
  padding: 1rem;
  font-size: 2rem;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  gap: 2px;
}

.calculator * {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  border: 1px solid #fff;
  font-weight: 600;
}

.display {
  grid-column: 1/ span 4;
  background-color: rgb(80, 77, 77);
  text-align: right;
  font-size: 2rem;
  padding: 2rem;
  font-weight: bold;
  color: #fff;
}

button {
  cursor: pointer;
}

button:hover {
  border: 1px solid lightslategray;
}

.zero {
  grid-column: 1/ span 2;
}

.operator {
  background-color: rgb(253, 151, 55);
}
