* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: grid;
  grid-template-areas:
    "results results results results"
    "gOpsBody gOpsBody gOpsBody sideOps"
    "numBody numBody numBody sideOps"
    "numBody numBody numBody sideOps";
  width: 50%;
  margin: 10% auto;
}

.results {
  background-color: gray;
  color: #fff;
  text-align: right;
  font-size: 2rem;
  padding: 20px;
}

.sideOps {
  display: grid;
}

.calculator > .results {
  grid-area: results;
}

.calculator > .gOpsBody {
  grid-area: gOpsBody;
}

.calculator > .numBody {
  grid-area: numBody;
}

.calculator > .sideOps {
  grid-area: sideOps;
}

.zero {
  grid-column: 1/ span 2;
  padding: 0;
}

button {
  padding: 10%;
  font-size: 22px;
  border: 1px solid #fff;
}

.numberKeys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.operators {
  display: grid;
  grid-template-columns: 1fr;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.symbol {
  background-color: rgb(245, 140, 42);
}
